
.container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15rem;
    width: 80%;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
}
.container .text{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.container .text .header{
    position: relative;
    margin: 2vw 0 2vw 2vw;
    padding-right: 3vw;
    width: fit-content;
}
.container .text .header h1{
    font-size: 5vw;
    justify-self: start;
    font-weight: bolder;
    position: relative;
}
.container .text .header h1::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 10px;
    bottom: 0;
    left: 0;
    background-color: tomato;
    animation: borderMove forwards ease-in-out 1.25s;
    border-radius: 0 25px 25px 0;
}
@keyframes borderMove{
    from{
        width: 0%;
    }
    to{
        width: 110%;
    }
}
.container .text p{
    font-size: 2vw;
    text-align: start;
}
.container .slider{
    position: relative;
    display: flex;
    align-items: center;
    width:35vw;
    height: 23vw;
    border-radius: 25px;
    overflow: hidden;
}
.container .slider img{
    position: absolute;
    border-radius: 25px;
    width: 35vw;
}

.student{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0;
    width: 100%;
    background-color: black;
}
.student .stu-container{
    display: grid;
    grid-template-columns: repeat(3, 28vw);
    height: 200px;
}
.student .stu-container .block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 20px white;
}
.student .stu-container .block .head{
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
}
.student .stu-container .block .details{
    display: flex;
    flex-direction: row;
    font-weight: bolder;
}
.student .stu-container .block .num{
    font-size: 32px;
}
.student .stu-container .block .hidden{
    font-size: 32px;
    opacity: 0;
}
.student .stu-container .block .hidden.disActive{
    animation: showUp forwards ease-in-out .5s;
}
@keyframes showUp{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.student .student-footer{
    text-align: center;   
    font-size: 3vw;
    color: white;
    text-shadow: 0px 0px 20px white;
}

.calendar-container{
    margin-top: 10vw;
}
.calendar-container h1{
    font-size: 5vw;
    text-align: center;
}

.founder{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.founder .collection{
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.founder .collection .profiles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.founder .collection .profiles img{
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
.founder .collection .profiles p{
    font-size: 3vw;
    font-weight: bolder;
    color: black;
    text-shadow: 0px 5px 20px black;
}