@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background: rgb(255,210,208);
    background: linear-gradient(297deg, rgba(255,210,208,1) 0%, rgba(255,0,107,1) 50%, rgba(8,18,98,1) 100%);
}

nav{
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    top: 0%;
    transition: .75s;
    background-color: white;
}
nav #logo{
    width: 7vw;
    padding: 14px 16px;
}
nav .nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
nav .nav-container .item-container{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}
nav .nav-container .item-container a:hover{
    color: black;
    transition: .5s;
}
nav .nav-container .item-container a:hover, a:focus, a.active{
    border-bottom: .3vw solid tomato;
    color: tomato !important;
}
nav .nav-container .item-container .item{
    font-size: 2vw;
    display: inline-block;
    position: relative;
}
nav .nav-container .item-container .item a{
    text-decoration: none;
    color: black;
    cursor: default;
    padding-bottom: 1rem;
}
nav .nav-container .item-container .item .dropDown{
    list-style-type: none;
    display: none;
    position: fixed;
    background-color: transparent;
    padding: 15px;
    font-size: 2vw;
    flex-direction: column;
    width: 15vw;
    transform: translateX(-34.5%);
}
nav .nav-container .item-container .item .dropDown li{
    margin: 10px;
}
nav .nav-container .item-container .item .dropDown li a{
    padding: .75rem 0rem .25rem;
}
nav .nav-container .item-container .item:hover .dropDown{
    display: flex;
}
nav .nav-container .item-container .item:focus .dropDown{
    display: initial;
}
nav .nav-container .item-container .item .dropDown li{
    text-align: center;
}
nav .nav-container .item-container .item .dropDown a{
    text-decoration: none;
}

.op-container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    padding: 0vw 0;
}
.op-container #bg{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.op-container .text{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    max-width: 30vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    max-height: 400px; 
}
.op-container .text .head{
    width: fit-content;
    width: -moz-fit-content;
    padding-right: 40px;
    padding-bottom: 1rem;
    font-size: 5vw;
    font-weight: bolder;
    border-bottom: .5vw solid tomato;
    font-family: 'Pacifico', cursive;
    text-shadow: 0px 0px 50px white;
}
.op-container .text .details{
    margin-top: 2rem;
    font-size: 2vw;
    text-align: center;
    width: inherit;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2px;
    line-height: 2.5vw;
}

.slide-container{
    align-self: center;
    width: 50vw;
    height: 30vw;
    border-radius: 25px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.slide-container img{
    width: 100%;
    max-width: inherit;
    height: inherit;
}
.slide-container .slide-img:nth-child(1){
    display: initial;
}
.slide-container .slide-img:nth-child(2){
    display: none;
}
.slide-container .slide-img:nth-child(3){
    display: none;
}
.slide-container .slide-img:nth-child(4){
    display: none;
}

.footer{
    background-color: #23232e;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.footer .footer-container{
    padding: 1rem 0;
}
.footer .footer-container .footer-icon{
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: .5rem 0;
}
.footer .footer-container .footer-icon img{
    width: 30px;
    height: 30px;
}
.footer .footer-container .copy-right{
    color: white;
    text-align: center;
    padding: .5rem 0;
}

@media only screen and (max-width: 1100px) {
    .op-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: transparent;
        padding: 0vw 0;
    }
    .op-container #bg{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
    }
    .op-container .text{
        display: flex;
        flex-direction: column;
        color: white;
        width: 100%;
        max-width: 350px;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
        max-height: 400px; 
    }
    .op-container .text .head{
        width: fit-content;
        width: -moz-fit-content;
        padding-right: 40px;
        padding-bottom: 1rem;
        font-size: 56px;
        font-weight: bolder;
        border-bottom: .5vw solid tomato;
        font-family: 'Pacifico', cursive;
        text-shadow: 0px 0px 50px white;
    }
    .op-container .text .details{
        margin-top: 2rem;
        font-size: 24px;
        text-align: center;
        width: inherit;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        letter-spacing: 2px;
        line-height: 30px;
    }
    
    .slide-container{
        align-self: center;
        width: 450px;
        height: 320px;
        border-radius: 25px;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }
    .slide-container img{
        width: 100%;
        max-width: inherit;
        height: inherit;
    }
    .slide-container .slide-img:nth-child(1){
        display: initial;
    }
    .slide-container .slide-img:nth-child(2){
        display: none;
    }
    .slide-container .slide-img:nth-child(3){
        display: none;
    }
    .slide-container .slide-img:nth-child(4){
        display: none;
    }
    
    .footer{
        background-color: #23232e;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
    }
    .footer .footer-container{
        padding: 1rem 0;
    }
    .footer .footer-container .footer-icon{
        display: flex;
        flex-direction: row;
        width: 200px;
        margin: 0 auto;
        justify-content: space-evenly;
        padding: .5rem 0;
    }
    .footer .footer-container .footer-icon img{
        width: 30px;
        height: 30px;
    }
    .footer .footer-container .copy-right{
        color: white;
        text-align: center;
        padding: .5rem 0;
    }
}
@media only screen and (max-width: 500px) {
    .op-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: transparent;
        padding: 0vw 0;
    }
    .op-container #bg{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
    }
    .op-container .text{
        display: flex;
        flex-direction: column;
        color: white;
        width: 100%;
        max-width: 75vw;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
        max-height: 400px; 
    }
    .op-container .text .head{
        width: fit-content;
        width: -moz-fit-content;
        padding-right: 40px;
        padding-bottom: 1rem;
        font-size: 12.5vw;
        font-weight: bolder;
        border-bottom: .5vw solid tomato;
        font-family: 'Pacifico', cursive;
        text-shadow: 0px 0px 50px white;
    }
    .op-container .text .details{
        margin-top: 2rem;
        font-size: 5vw;
        text-align: center;
        width: inherit;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        letter-spacing: 2px;
        line-height: 6vw;
    }
    
    .slide-container{
        align-self: center;
        width: 90vw;
        height: 60vw;
        border-radius: 25px;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }
    .slide-container img{
        width: 100%;
        max-width: inherit;
        height: inherit;
    }
    .slide-container .slide-img:nth-child(1){
        display: initial;
    }
    .slide-container .slide-img:nth-child(2){
        display: none;
    }
    .slide-container .slide-img:nth-child(3){
        display: none;
    }
    .slide-container .slide-img:nth-child(4){
        display: none;
    }
    
    .footer{
        background-color: #23232e;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
    }
    .footer .footer-container{
        padding: 1rem 0;
    }
    .footer .footer-container .footer-icon{
        display: flex;
        flex-direction: row;
        width: 200px;
        margin: 0 auto;
        justify-content: space-evenly;
        padding: .5rem 0;
    }
    .footer .footer-container .footer-icon img{
        width: 30px;
        height: 30px;
    }
    .footer .footer-container .copy-right{
        color: white;
        text-align: center;
        padding: .5rem 0;
    }
}