.main-head video {
  object-position: center top;
}
section.founders {
  background-color: #ffddaa;
  color: #553300;
}
div.founders {
  width: 76rem;
  padding: 9rem 0 16rem;
  align-self: center;
  gap: 6rem;
}
.founders-list {
  justify-content: space-between;
}
.founders-list li {
  width: 25.5%;
  align-items: center;
  gap: 2rem;
}
.founder-info {
  align-items: center;
  gap: 1.3rem;
}
.founder-info h3 {
  text-align: center;
  white-space: nowrap;
}
.founder-position {
  top: -0.5rem;
  align-items: center;
}
.founder-speech {
  display: block;
  height: 8.3125rem;
  gap: 0.5rem;
  text-align: center;
  overflow: hidden;
  /*display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  background: white;
  text-align: center;
  gap: 0.5rem;*/
}
.founder-info > span {
  display: initial;
  position: relative;
  width: auto;
  align-self: center;
  cursor: pointer;
}
.founder-contact {
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
}
.founder-contact i {
  margin-right: 0.3rem;
  /*color: #464660;*/
}
.founder-contact a:link, .founder-contact a:visited {
  display: contents;
  color: inherit;
  text-decoration: inherit;
}

section.volunteers {
  background-color: #ffddff;
  color: #440044;
}
div.volunteers {
  width: 60rem;
  align-self: center;
  gap: 1rem;
}
div.volunteers:nth-child(2) {
  padding: 9rem 0 0;
}
div.volunteers:nth-child(3) {
  padding: 8rem 0 16rem;
}
div.volunteers > div:nth-child(2) {
  justify-content: space-between;
}
.volunteers h1 {
  padding-bottom: 7rem;
}
.volunteers h2 {
  font-size: 2.5em;
}
.volunteers h3 {
  font-weight: normal;
  text-indent: 1em;
}
.table-filter {
  gap: 0.5rem;
  justify-content: flex-end;
}
.table-filter select, .table-filter input{
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-family: inherit;
  font-size: 1rem;
}
.table-filter input {
  font-family: Montserrat, sans-serif, FontAwesome;
}
.volunteers-table table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}
.volunteers-table th, .volunteers-table td {
  padding: 0.5rem;
  border: 0.1rem solid white;
}
.volunteers-table th {
  display: table-cell;
  padding: 0.7rem 0.5rem;
  text-align: left;
  color: white;
}
.volunteers-table th:nth-child(1) {
  width: 40%;
}
.volunteers-table th:nth-child(2) {
  width: 15%;
}
.volunteers-table th:nth-child(3) {
  width: 45%;
}
.volunteers-table th span {
  align-items: center;
}
.volunteers-table th i {
  position: relative;
  margin-left: auto;
  opacity: 0;
}
.volunteers-table tr:first-child {
  background-color: #053683;
}
.volunteers-table tr:nth-child(odd):not(:first-child) {
  background-color: #ffffff;
}
.volunteers-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.volunteers-table tr:hover:not(:first-child) {
  background-color: #CDD7E6;
}

@media only screen and (max-width: 1430px) {
  div.founders {
    width: 100%;
    padding: 9rem 7% 16rem;
  }
}

@media only screen and (max-width: 1370px) {
  .founder-info {
    gap: 0.8rem;
  }
  .founder-info > span {
    display: initial;
  }
}

@media only screen and (max-width: 1120px) {
  div.volunteers {
    width: 100%;
  }
  div.volunteers:nth-child(2) {
    padding: 9rem 7% 0;
  }
  div.volunteers:nth-child(3) {
    padding: 8rem 7% 16rem;
  }
}

@media only screen and (max-width: 1024px) {
  .founders-list {
    gap: 4rem;
  }
  .founders-list li {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .founders-list li:nth-child(even) {
    flex-direction: row-reverse;
  }
  .founders .img-circle {
    width: 40%
  }
  li:nth-child(odd) .founder-info {
    width: 55%;
    align-items: flex-start;
  }
  li:nth-child(even) .founder-info {
    width: 55%;
    align-items: flex-end;
  }
  .founder-info h3 {
    text-align: left;
    white-space: normal;
  }
  li:nth-child(even) .founder-info h3 {
    text-align: right;
  }
  li:nth-child(odd) .founder-position, li:nth-child(odd) .founder-contact {
    align-items: flex-start;
  }
  li:nth-child(even) .founder-position, li:nth-child(even) .founder-contact {
    align-items: flex-end;
  }
  li:nth-child(odd) .founder-speech {
    height: 4.75rem;
    /*-webkit-line-clamp: 4;*/
    text-align: left;
  }
  li:nth-child(even) .founder-speech {
    height: 4.75rem;
    /*-webkit-line-clamp: 4;*/
    text-align: right;
  }
  .founder-info > span {
    display: initial;
    align-self: flex-end;
  }
}

@media only screen and (max-width: 768px) {
  div.founders {
    width: 100%;
    padding: 6rem 9% 13rem;
  }

  div.volunteers:nth-child(2) {
    padding: 6rem 9% 0;
  }
  div.volunteers:nth-child(3) {
    padding: 5rem 9% 13rem;
  }
  .volunteers h1 {
    padding-bottom: 4rem;
  }
  .table-filter select {
    width: 20%;
  }
  .table-filter input {
    width: 35%;
  }
  .volunteers-table {
    height: 30rem;
    overflow-y: scroll;
  }
  .volunteers-table th, .volunteers-table td {
    display: block;
    width: 100% !important;
    padding: 0.3rem;
    border: none;
  }
  .volunteers-table tr {
    display: block;
    padding: 0.5rem 1rem;
    border: 0.1rem solid white;
  }
}

@media only screen and (max-width: 600px) {
  div.founders {
    width: 100%;
    padding: 4rem 9% 11rem;
  }

  div.volunteers:nth-child(2) {
    padding: 4rem 9% 0;
  }
  div.volunteers:nth-child(3) {
    padding: 3rem 9% 11rem;
  }
  .volunteers h1 {
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 476px) {
  div.founders {
    gap: 4rem;
  }
  .founders-list {
    align-items: center;
    gap: 3rem;
  }
  .founders-list li {
    width: 75%;
    gap: 1rem;
  }
  .founders-list li:nth-child(even) {
    flex-direction: column;
  }
  .founders .img-circle {
    width: 100%
  }
  .founder-info {
    width: 100% !important;
    align-items: center !important;
    gap: 0.6rem;
  }
  .founder-info h3 {
    text-align: center !important;
  }
  .founder-position, .founder-contact {
    align-items: center !important;
  }
  .founder-speech {
    text-align: center !important;
  }
  .founder-info > span {
    align-self: center !important;
  }
}