@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
}

.form{
    color: #FEC2B5;
}

.op-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5rem 5vw;
}
.op-container .text{
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;
    max-width: 30vw;
    height: inherit;
    align-self: center;
}
.op-container .text .head{
    width: fit-content;
    width: -moz-fit-content;
    padding-right: 40px;
    padding-bottom: 1rem;
    font-size: 5vw;
    font-weight: bolder;
    border-bottom: 5px solid tomato;
    font-family: 'Pacifico', cursive;
}
.op-container .text .details{
    margin-top: 2rem;
    font-size: 2vw;
    text-align: center;
    width: 100%;
    max-width: inherit;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.op-container .text .icon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}
.op-container .text .icon img{
    width: 35px;
}

.slide-container{
    align-self: center;
    width: 50vw;
    height: 500px;
    border-radius: 25px;
    overflow: hidden;
}
.slide-container img{
    width: 100%;
    max-width: inherit;
    height: inherit;
}
.slide-container .slide-img:nth-child(1){
    display: initial;
}
.slide-container .slide-img:nth-child(2){
    display: none;
}
.slide-container .slide-img:nth-child(3){
    display: none;
}
.slide-container .slide-img:nth-child(4){
    display: none;
}

.sponsor-container{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    width: 100%;
    background-color: #fff1fd;
    padding-bottom: 10rem;
}
.sponsor-container #sponsor-text{
    width: fit-content;
    margin: 4rem 0;
    font-size: 5vw;
    font-style: italic;
    border-bottom: 15px solid rgb(245, 210, 12);
}
.sponsor-container .sponsor-logo{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 5vw;
    width: 100%;
}
.sponsor-container .sponsor-logo .sponsor-logo-img{
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 250px;
    display: flex;
    align-items: center;
}
.sponsor-container .sponsor-logo ,.sponsor-logo-img img{
    width: 100%;
    max-width: inherit;
}

.WWD-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.WWD-container .WWD-head{
    position: relative;
    display: flex;
}
.WWD-container .WWD-head #WWD-head-img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
}
.WWD-container .WWD-head .WWD-head-details{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
.WWD-container .WWD-head .WWD-head-details #details-header{
    font-size: 10vw;
    align-self: center;
    font-style: italic;
    text-shadow: 10px 10px 5px lightblue;
    padding-bottom: 2vw;
    border-bottom: 5px solid darkslateblue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 5px;
}
.WWD-container .WWD-head .WWD-head-details #details-paragraph{
    max-width: 600px;
    font-size: 2vw;
    align-self: center;
    padding-top: 3vw;
    font-weight: bolder;
    letter-spacing: 3px;
}
.WWD-container .WWD-content{
    padding-top: 4rem;
    background-color: wheat;
}
.WWD-container .WWD-content #WWD-content-header{
    font-size: 4vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 3rem;
}
.WWD-container .WWD-content .WWD-content-item{
    display: flex;
    flex-direction: column;
}
.WWD-container ,.WWD-content .WWD-content-item .header h1{
    font-size: 3.5vw;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.WWD-container ,.WWD-content .WWD-content-item .header p{
    font-size: 2vw;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.WWD-container .WWD-content .WWD-content-item .paragraph{
    display: flex;
    padding: 3vw;
    justify-content: center;
    align-items: center;
}
.WWD-container .WWD-content .WWD-content-item .paragraph.flow-row{
    flex-direction: row;
}
.WWD-container .WWD-content .WWD-content-item .paragraph.flow-column{
    flex-direction: column;
}
.WWD-container .WWD-content .WWD-content-item .paragraph img{
    width: 12vw;
    margin-right: 5vw;
}
.WWD-container .WWD-content .WWD-content-item .paragraph p{
    font-size: 1.5vw;
    width: 800px;
    font-family: 'Sawarabi Gothic', sans-serif;
    text-align: center;
}
.WWD-container .WWD-content .WWD-content-item .paragraph .target-container{
    padding-bottom: 2rem;
}
.WWD-container .WWD-content .WWD-content-item .paragraph .target-container p{
    text-align: start;
    padding-left: 20px;
}
.WWD-container .WWD-content .WWD-content-item .paragraph .target-container .target{
    text-align: start;
    font-weight: bolder;
    color: red;
    padding: 0;
}

.footer-container{
    background-color: burlywood;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container .item-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 2rem 0;
}
.footer-container .item-container .footer-item{
    padding: 20px;
}
.footer-container .item-container .footer-item .item{
    text-align: start;
}
.footer-container .item-container .footer-item .item h1{
    font-size: 1.5vw;
}
.footer-container .item-container .footer-item .item p{
    font-weight: bolder;
    font-size: 1vw;
}
