.WWD-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.WWD-container .WWD-head{
    position: relative;
    display: flex;
}
.WWD-container .WWD-head #WWD-head-img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
}
.WWD-container .WWD-head .WWD-head-details{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
.WWD-container .WWD-head .WWD-head-details #details-header{
    font-size: 10vw;
    align-self: center;
    font-style: italic;
    text-shadow: 10px 10px 5px lightblue;
    padding-bottom: 2vw;
    border-bottom: 5px solid darkslateblue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 5px;
}
.WWD-container .WWD-head .WWD-head-details #details-paragraph{
    max-width: 50vw;
    font-size: 2vw;
    align-self: center;
    padding-top: 3vw;
    font-weight: bolder;
    letter-spacing: 3px;
}
.WWD-container .WWD-content{
    padding-top: 4rem;
    background-color: wheat;
}
.WWD-container .WWD-content #WWD-content-header{
    font-size: 4vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 3rem;
}
.WWD-container .WWD-content .WWD-content-item{
    display: flex;
    flex-direction: column;
}
.WWD-container ,.WWD-content .WWD-content-item .header h1{
    font-size: 3.5vw;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.WWD-container ,.WWD-content .WWD-content-item .header p{
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.WWD-container .WWD-content .WWD-content-item .paragraph{
    display: flex;
    padding: 3vw;
    justify-content: center;
    align-items: center;
}
.WWD-container .WWD-content .WWD-content-item .paragraph.flow-row{
    flex-direction: row;
}
.WWD-container .WWD-content .WWD-content-item .paragraph.flow-column{
    flex-direction: column;
}
.WWD-container .WWD-content .WWD-content-item .paragraph img{
    width: 12vw;
    margin-right: 5vw;
}
.WWD-container .WWD-content .WWD-content-item .paragraph p{
    font-size: 1.5vw;
    width: 60vw;
    font-family: 'Sawarabi Gothic', sans-serif;
    text-align: center;
}
.WWD-container .WWD-content .WWD-content-item .paragraph .target-container{
    padding: 2vw;
}
.WWD-container .WWD-content .WWD-content-item .paragraph .target-container p{
    text-align: start;
    padding-left: 20px;
}
.WWD-container .WWD-content .WWD-content-item .paragraph .target-container .target{
    text-align: start;
    font-weight: bolder;
    color: red;
    padding: 0;
}
